<!doctype html>
<html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Item edit flyout, live mockup</title>
<link rel="stylesheet" href="../../theme.css">
<link rel="stylesheet" href="flyout.css">
<link rel="stylesheet" href="phone.css" media="(max-width:1023.98px)">
<link rel="stylesheet" href="tablet.css" media="(min-width:600px) and (max-width:1023.98px)">
<link rel="stylesheet" href="desktop.css" media="(min-width:1024px)">
<link rel="stylesheet" href="desktop-1240.css" media="(min-width:1240px)">
<script src="../../theme.js"></script><script src="frame.js"></script></head>
<body data-no-theme-fab><div id="root"></div><script src="flyout.js"></script></body></html>
