<!doctype html>
<html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Plan, desktop option C: week strip and day flyout</title>
<link rel="stylesheet" href="../../theme.css"><link rel="stylesheet" href="plan.css"><link rel="stylesheet" href="c.css">
<link rel="stylesheet" href="c-1280.css" media="(min-width:1280px)"><link rel="stylesheet" href="c-1440.css" media="(min-width:1440px)"><link rel="stylesheet" href="c-1920.css" media="(min-width:1920px)"><link rel="stylesheet" href="c-2560.css" media="(min-width:2200px)"><link rel="stylesheet" href="c-short.css" media="(max-height:800px)">
<script src="../../theme.js"></script><script src="frame.js"></script></head>
<body data-no-theme-fab><div id="root"></div><script src="plan.js"></script><script src="c.js"></script></body></html>
